footer {
  width: 600px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 100px;
  color: #fff;
  text-align: center;
  align-items: center;
  padding: 30px;
  bottom: 0;
  border: 10px solid #333;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
