img{
  width: 70%;
  margin-top: 10px;
}

.image-container {
  position: relative;
  margin-top: 50px;
  box-shadow: 0 0 10px #bd68b3, 0 0 30px #06a1b8, 0 0 30px #ff00e0,  0 0 30px #ddeb10, 0 0 30px #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
}

.image-container img {
  width: 25%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.image-container img::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  z-index: -1;
  animation: border-animation 5s linear infinite;
}

.image-container img {
  border: none;
}

.image-container img:hover {
  opacity: 0.8;
}

.image-container img:hover:before {
  opacity: 1;
  filter: blur(5px);
}

.image-container img:hover + .border-gradient {
  opacity: 1;
}

.image-container .border-gradient {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@media only screen and (min-width: 481px) {
  img{
    width: 25%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    display: flex;
  }
  
  .image-container {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
  }
}
