.presentation {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  padding: 100px;
  height: 700px;
}

.presentation__img {
  max-width: 50%;
  margin-right: 1rem;
  margin-left: auto;
  border-radius: 100%;
  width: 300px;
}

.presentation__text {
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: auto;
  max-width: 50%;
  width: 600px;
  color: aliceblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

h2{
  font-size: 3em;
}

h4{
  margin-top: 0;
  font-size: 2em;
}

p{
  text-align: justify;
  font-size: 1.5em;
}